@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0; 
	font-family: 'Inter', sans-serif;
}

header {
	background-color: #0284C7; 
	color: white;
	text-align: center;
	padding: 20px;
	font-family: 'Inter', sans-serif;
}

.home{
	font-size: 20px;
}

.home-name{
	font-size: 20px;
}

.img-header{
	height: 50px; 
	width: 120px;
}

.about, .login, .cadastro, .eventos, .gestao{
	cursor: pointer;
	margin-left: 13px;
	margin-right: 13px;
	font-size: 0.9rem;
}

a{
	text-decoration: none;
	color: white;
}

/* Footer */

.footer{
	text-align: center;
	background-color: #0284C7;
	color: white;
}

.img-footer{
	width: 120px;
	height: 50px;
	margin-top: 10px;
}


/* DropDown */

.MCDropDown_Closed a.MCDropDownHotSpot, .MCDropDown_Open a.MCDropDownHotSpot {
	text-decoration: none;
	border-bottom: none;
	padding: 10px 10px 10px 40px;
}
.MCDropDown_Closed a.MCDropDownHotSpot, .MCDropDown_Open a.MCDropDownHotSpot {
	text-decoration: none;
}
.MCDropDownBody .MCDropDown_Closed .MCDropDownHotSpot_, .MCDropDown_Closed .MCDropDownHotSpot_ {
	background-position: 10px 13px;
	padding-right: 0px;
}
.MCDropDown_Closed .MCDropDownHotSpot_ {
	padding-left: 0px;
	padding-right: 0px;
}
.dropDownHotspot:link {
	color: #333;
	display: block;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-left: 10px;
	margin-top: -1px;
	height: auto;
	padding-bottom: 10px;
	text-decoration: none;
}

.MCDropDown {
	border: 1px solid #34d714;
	border-radius: 8px;
	margin: 10px;
}

.MCDropDownBody {
	display: none;
}


@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .about,
  .login,
  .cadastro,
  .eventos,
  .gestao {
    margin: 5px;
    font-size: 0.8rem;
  }

	.img-header{
		height: 40px; 
		width: 150px;
	}

  .img-footer {
    width: 150px;
    height: 40px;
    margin-top: 5px;
  }
}