body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .home, .footer p {
  margin: 0;
}

.header .home-name img, .footer-logo img {
  margin-top: 10px;
}

.section {
  padding: 20px;
}

h1, h3 {
  color: #333;
}

.login-container, .cadastro-container, .botoes-container {
  max-width: 800px;
  margin: 0 auto;
}

.login-content, .cadastro-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.login-img, .cadastro-img {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.login-text, .cadastro-text {
  flex: 2;
  margin: 10px;
}

.login-button, .new-button, .register-button, .forgot-password-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button:hover, .new-button:hover, .register-button:hover, .forgot-password-button:hover {
  background-color: #45a049;
}

.MCDropDown {
  margin-top: 20px;
}

.dropDownHead {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  justify-content: flex-start;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.dropDownBody {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

hr{
  margin-top: 20px;
}
.img {
  max-width: 100%;
  height: 350px;
  display: block;
  margin: 0 auto;
  justify-content: flex-start;
}

.img-login, .img-cadastro{
  max-width: 100%;
}

.img-footer {
  width: 120px;
  height: 30px;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .header, .footer {
      flex-direction: column;
  }

  .login-content, .cadastro-content {
      flex-direction: column;
      align-items: flex-start;
  }

  .login-img, .cadastro-img {
      max-width: 100%;
      margin: 0 0 20px 0;
  }

  .login-text, .cadastro-text {
      margin: 0 0 20px 0;
      text-align: center;
  }

  .login-button, .new-button, .register-button, .forgot-password-button {
      width: 100%;
      margin: 10px 0;
  }

  .dropDownHead {
      justify-content: flex-start;
  }

  .dropDownBody {
      padding: 20px;
  }
}